.video-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: 2rem;
  min-height: 100vh;
}

.video-title {
  font-size: 1rem;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  margin-top: 0px;
}

.video-card {
  width: 20rem;
  margin: 8px;
  height: 21rem;
  border-radius: 4px;
  background-color: var(--COLOR-White);
  box-shadow: 0 0 4px var(--COLOR-Gray);
}

.video-card.dark {
  background-color: var(--COLOR-Black);
  color: var(--COLOR-White);
}

.video-details {
  display: flex;
  gap: 1rem;
  margin-top: 7px;
  padding: 5px 7px;
}

.creator-dp {
  height: 40px;
  width: 40px;
  border-radius: 50%;
}

.options {
  height: 30px;
  width: 30px;
  padding: 5px;
}
