.Sidebar-container {
  background-color:var(--COLOR-Black) ;
  position: fixed;
  width: 220px;
  height: 100vh;
  margin-top: 1px;
  box-shadow: 0 0 5px 1px var(--COLOR-Gray);
}
.sidebar-links {
  padding: 16px 20px;
  font: 16px Roboto;
  text-decoration: none;
  color: var(--COLOR-White);
  display: flex;
  align-items: center;
  flex-direction: row;
}
.sidebar-icons {
  padding-right: 20px;
  height: 30px;
  width: 20px;
}

.sidebar-links:hover {
  background-color: #536075;
}
