.home-container {
  padding-top: 80px;
}
.Home-image {
  display: flex;
  justify-content: center;
}
.dark {
  background-color: var(--COLOR-Black);
  color: var(--COLOR-White);
}
.HomePage {
  height: 100vh;
}
.Home-image div {
  width: 800px;
  height: 400px;
  margin-top: 200px;
  text-align: center;
  box-shadow: 0 0 8px 1px var(--COLOR-Black);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.home-wrapper {
  padding-left: 240px;
  padding-top: 20px;
}
.categoryName {
  display: flex;
  border: 2px solid var(--COLOR-Gray);
  margin-right: 25px;
}
.itemName {
  padding: 10px;
  border: 2px solid var(--COLOR-Black);
  margin: 10px;
  border-radius: 20px;
  background-color: var(--COLOR-Black);
  color: var(--COLOR-White);
  text-decoration: none;
}
a {
  text-decoration: none;
}
.itemName:hover {
  background-color: #8c99ae;
  border: 2px solid #8c99ae;
}
.itemName:active {
  background-color: var(--COLOR-White);
  color: #40587c;
}
.cover-page-a {
  font-size: 40px;
  margin: 0px;
}
.cover-page-b {
  font-size: 20px;
}
.cover-page-button {
  padding: 12px 18px;
  border-radius: 5px;
  border: none;
  font-size: 16px;
}
